@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 257 25% 95.1%;
    --foreground: 256 50% 15%;
    --card: 0 0% 100%;
    --card-foreground: 256 50% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 256 50% 15%;
    --primary: 256 50.4% 50.4%;
    --primary-foreground: 0 0% 98%;
    --secondary: 256 20% 90%;
    --secondary-foreground: 256 50% 15%;
    --muted: 256 20% 93%;
    --muted-foreground: 256 20% 45%;
    --accent: 231.4 48.3% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 10% 85%;
    --input: 256 10% 85%;
    --ring: 256 50.4% 50.4%;
    --chart-1: 256 50.4% 50.4%;
    --chart-2: 231.4 48.3% 48%;
    --chart-3: 256 40% 65%;
    --chart-4: 231.4 40% 65%;
    --chart-5: 256 30% 75%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 256 50% 15%;
    --sidebar-primary: 256 50.4% 50.4%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 256 20% 93%;
    --sidebar-accent-foreground: 256 50% 15%;
    --sidebar-border: 256 10% 88%;
    --sidebar-ring: 256 50.4% 50.4%;
  }
  .dark {
    --background: 256 10% 10%;
    --foreground: 257 25% 95.1%;
    --card: 256 10% 12%;
    --card-foreground: 257 25% 95.1%;
    --popover: 256 10% 10%;
    --popover-foreground: 257 25% 95.1%;
    --primary: 256 50.4% 60.4%;
    --primary-foreground: 0 0% 98%;
    --secondary: 256 10% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 256 10% 18%;
    --muted-foreground: 257 10% 60%;
    --accent: 231.4 48.3% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 10% 18%;
    --input: 256 10% 18%;
    --ring: 256 50.4% 60.4%;
    --chart-1: 256 50.4% 60.4%;
    --chart-2: 231.4 48.3% 58%;
    --chart-3: 256 40% 55%;
    --chart-4: 231.4 40% 55%;
    --chart-5: 256 30% 45%;
    --sidebar-background: 256 10% 12%;
    --sidebar-foreground: 257 25% 95.1%;
    --sidebar-primary: 256 50.4% 60.4%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 256 10% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 256 10% 18%;
    --sidebar-ring: 256 50.4% 60.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
