@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 91% / 0.8;
    --foreground: 220 9% 10%;
    --card: 220 13% 91% / 0.6;
    --card-foreground: 220 9% 10%;
    --popover: 220 13% 91%;
    --popover-foreground: 220 9% 10%;
    --primary: 150 70% 35%;
    --primary-foreground: 150 50% 98%;
    --secondary: 215 20% 55%;
    --secondary-foreground: 220 9% 10%;
    --muted: 215 16% 47%;
    --muted-foreground: 215 16% 47%;
    --accent: 215 25% 85%;
    --accent-foreground: 220 9% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 45%;
    --input: 215 20% 65%;
    --ring: 150 70% 35%;
    --chart-1: 150 70% 35%;
    --chart-2: 160 60% 45%;
    --chart-3: 170 50% 55%;
    --chart-4: 180 45% 60%;
    --chart-5: 190 40% 65%;
    --radius: 0.5rem;
    --sidebar-background: 220 14% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 150 70% 40%;
    --sidebar-primary-foreground: 150 50% 98%;
    --sidebar-accent: 220 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 10% 25%;
    --sidebar-ring: 150 70% 40%;
  }
  .dark {
    --background: 220 14% 10% / 0.8;
    --foreground: 0 0% 98%;
    --card: 220 14% 12% / 0.6;
    --card-foreground: 0 0% 98%;
    --popover: 220 14% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 150 70% 40%;
    --primary-foreground: 150 50% 98%;
    --secondary: 220 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 10% 25%;
    --muted-foreground: 215 16% 65%;
    --accent: 220 10% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 30%;
    --input: 220 10% 35%;
    --ring: 150 70% 40%;
    --chart-1: 150 70% 40%;
    --chart-2: 160 60% 50%;
    --chart-3: 170 50% 60%;
    --chart-4: 180 45% 65%;
    --chart-5: 190 40% 70%;
    --sidebar-background: 220 14% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 150 70% 40%;
    --sidebar-primary-foreground: 150 50% 98%;
    --sidebar-accent: 220 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 10% 25%;
    --sidebar-ring: 150 70% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-transparent text-foreground;
    background-image: url(https://images.unsplash.com/photo-1554224155-6726b3ff858f?q=80&w=1911&auto=format&fit=crop);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .dark body {
    background-color: transparent;
  }

  /* Hide arrows from number inputs */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
